* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    font-family: "arial","sans-serif";
    font-size: 10pt;
    color: #FFF;
}

#gaia {
    background: none repeat scroll 0% 0% #2F385D;
    width: 473px;
    height: 385px;
    position: relative;
}

a {
    color: #F5A245;
    font-variant: small-caps;
    font-weight: bold;
}

a.button, input.button {
    display: block;
    color: #FFF;
    width: 118px;
    height: 19px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 7.5pt;
    font-weight: bold;
    border: 0px none;
    cursor: pointer;
    background-image: url("http://alphabounce.com/img/design/button.gif");
    background-repeat: no-repeat;
}

a.button {
    height: 16px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
}

.card {
    height: 18px;
    background-color: #475682;
    width: 473px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.card .name {
    position: absolute;
    margin-left: 5px;
    margin-top: 1px;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 12pt;
    font-size: 9pt;
    color: #FFD500;
    z-index: 2;
    cursor: help;
}

.card .name img {
    margin-top: -7px;
    vertical-align: -10px;
}

.card .name .tid_user {
    border-top: 1px solid #6C7188;
    background-color: #4E5162;
    padding: 0 4px;
    color: #FFF;
    box-shadow: 0px 0px 1px #000;
    white-space: nowrap;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    text-decoration: none;
}

.card em {
    color: #A4B3D0;
    font-style: normal;
}

.card div.coord {
    position: absolute;
    font-size: 8pt;
    margin-left: 130px;
    margin-top: 2px;
    z-index: 2;
}

.card div.coord span {
    letter-spacing: 0px;
    color: #BBFC63;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1pt;
    cursor: help;
}

.card div.coord span {
    letter-spacing: 0px;
}

.card .score {
    position: absolute;
    text-align: right;
    font-size: 8pt;
    margin-top: 2px;
    width: 455px;
}

.card .date {
    position: absolute;
    font-size: 8pt;
    margin-left: 215px;
    margin-top: 2px;
    color: #FFF;
}

.card li {
    color: rgb(164, 179, 208);
    border-width: 0px 1px;
    border-style: solid;
    border-color: #A4B3D0;
    border-image: none;
    padding: 0px 16px;
    display: inline;
    margin-left: -1px;
	font-size: 10px;
}

/* section */

.toggle_container {
    position: absolute;
    width: 100%;
    display: none;
}


/* welcome */

#welcome {
    background-image: url("../img/back.png");
    min-height: 318px;
    background-attachment: fixed;
    font-size: 10px;
}

#welcome h2 {
    width: 208px;
    height: 32px;
    background-image: url("../img/title.png");
    background-position: left 1px;
    margin: 1px 0px 0px;
}
#welcome h2 span {
    display: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color:#000;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* report */

#report .zone {
    width: 100%;
    height: 113px;
    position: relative;
    box-sizing: border-box;
    padding-left: 120px;
    padding-top: 5px;
    border-style: solid;
    border-color: #68759B;
    border-image: none;
    border-width: 0 0 1px;
    background-image: linear-gradient(#2A3250, #232A43 87%, #090A10);
    margin: 0;
	display: none;
}
#report #space .picture {
	background-image: url(img/mineral.png);
}
#report #ground .picture {
	background-image: url(img/planets/Douriv.png);
}
#report #merchant .picture {
	background-image: url(img/marchand.png);
}

#report .zone .picture {
    height: 100px;
    width: 100px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    border: 1px solid #97A4D7;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #1F232F inset, 0px 0px 21px #BAC6E9 inset;
    margin: 5px;
}

#report form {
    z-index: 25;
    position: relative;
}

#report form p {
    float: left;
    width: 117px;
    height: 50%;
}

#report form p.submit {
    width: 200px;
}

#report form label {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 9pt;
    color: rgb(255, 213, 0);
    background-position: left 1px;
    background-repeat: no-repeat;
    padding-left: 19px;
    padding-top: 2px;
}
#report form label[for="mineral"] {
    background-image: url("../img/mineral2.png");
}
#report form label[for="missile"] {
    background-image: url("../img/missile.png");
}
#report form label[for="antiradar"] {
    background-image: url("../img/antiradar.png");
}
#report form label[for="bonusp"] {
    background-image: url("../img/provision.png");
}

#report form input {
    width: 100%;
    height: 25px;
    border: 1px solid #97A4D7;
    border-radius: 3px;
    background-color: #445279;
    box-shadow: 0px 0px 2px #1F232F inset, 0px 0px 8px #BAC6E9 inset;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}

#report form input:focus {
    border-color: #8BEFFF;
    box-shadow: 0px 0px 2px #1F232F inset, 0px 0px 16px #36E4DE inset;
}

#report form .inputNumber {
    width: 66%;
    position: relative;
    display: block;
	margin: 2px 0;
	float: left;
	font-size: 16px;
}
#report form .inputNumber input {
	font-size: 16px;
}

#report form .inputNumber::before, #report form .inputNumber::after {
    content: "+";
    display: block;
    width: 13px;
    height: 11px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    border: 1px solid #97A4D7;
    background: #44527A;
    border-radius: 0 3px 0 0;
	pointer-events: none;
	cursor: pointer;
    box-shadow: 0px 0px 1px #1F232F inset, 0px 0px 4px #BAC6E9 inset;
}

#report form .inputNumber::after {
    content: "-";
    top: auto;
    bottom: 0;
    border-radius: 0 0 3px 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  cursor: pointer;    /* affiche un curseur adapté */
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    width: 25px;
    height: 25px;
    border: 1px solid #97A4D7;
    background: #44527A;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #1F232F inset, 0px 0px 4px #BAC6E9 inset;
    box-sizing: border-box;
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
    content: "✔";
    position: absolute;
    top: 7px;
    left: 0;
    font-size: 37px;
    color: #FFF;
    transition: all 0.2s ease 0s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}

[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

.min, .max, .uncheck, .check {
    font-size: 10px;
    font-variant: small-caps;
    font-weight: bold;
    float: left;
    width: 33%;
    padding-left: 7px;
    box-sizing: border-box;
    margin-top: 2px;
	height: 12px;
}
.max, .check {
    margin: 0 0 2px 0;
}
