/* onglet */

#gaia {
	position: absolute;
	right: 10px;
	top: 96px;
	z-index: 10;
	display: block;
	background-image: url(http://lipki.github.io/GAIA-Report/img/tab_off.gif);
	width: 21px;
	height: 29px;
	border: 0;
	display: none;
}

#center {
	position: relative;
}

#section {
	overflow: hidden;
	margin: 0;
	width: 473px;
	height: 387px;
}
